body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefae0; 
    color: #333;  
}

header {
    background-color: #ffffff; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #f8eded;
}

section {
    padding: 50px 20px;
    text-align: center;
}

h2 {
    color: #6b705c;
    margin-bottom: 40px;
    font-size: 30px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

.cafe-story, .meet-team, .cafe-mission {
    background-color: #ffe8d6;
    margin-bottom: 30px;
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cafe-story img, .meet-team img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.team-member {
    display: inline-block;
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 30px;
}

.team-member img {
    width: 100%;
    height: 220px; 
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.team-member h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.team-member p {
    font-size: 16px;
    margin-bottom: 10px;
}

footer {
    background-color: #c5a96d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 0;
}
