body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefae0;
    color: #333;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.logo img {
    max-width: 100px;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.main-nav li {
    display: inline;
    margin: 0 20px;
}

.main-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #f8eded;
}

.secondary-nav {
    background-color: #ffffff;
    text-align: center;
    margin-top: 10px; 
}

.secondary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.secondary-nav li {
    display: inline;
    margin: 0 20px;
}

.secondary-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 18px;
    font-weight: bold;
}

.secondary-nav a:hover {
    color: #ddd;
}

.menu-section {
    text-align: center;
    padding: 50px 0;
    background-color: #ffe8d6;
}

.menu-section h2 {
    color: #6b705c;
    margin-bottom: 40px;
    font-size: 30px;
}

.menu-item {
    display: inline-block;
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.menu-section .menu-item {
    margin: 10px;
}

.menu-item img {
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-item .price {
    font-weight: bold;
    color: #6b705c;
    font-size: 18px;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%;
    }
}

footer {
    background-color: #c5a96d;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 0;
}