html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefae0;
    color: #333;
}

header {
    padding-left: 20px;
    padding-right: 60px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #85431d;
}

.secondary-nav {
    
    text-align: center;
    margin-top: 10px; 
    display: flex;
    justify-content: space-evenly;
}

.secondary-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.secondary-nav li {
    display: inline;
    margin: 0 20px;
}

.secondary-nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 18px;
    font-weight: bold;
}

.secondary-nav a:hover {
    color: #ddd;
}

.menu-section {
    text-align: center;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
    color: #ffffff;
}
.menu-section h2 {
    color: #6b705c;
    margin-bottom: 40px;
    font-size: 30px;
 
}

.menu-item {
    display: inline-block;
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 20px;
    background-color: #aa9689;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.menu-section .menu-item {
    margin: 10px;
}

.menu-item img {
    width: 100%;
    height: 220px; 
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 15px;
}

.menu-item h3 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-item .price {
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
}

@media (max-width: 768px) {
    .menu-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .menu-item {
        width: 100%;
    }
}

footer {
    background-color: rgb(192, 119, 70);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 0;
    color: black;
}